<p id="notice"><%= notice %></p>
<nav>
  <div class="nav-wrapper">
    <%=link_to root_path do %>
      <span class="brand-logo center">Twittodon</span>
    <%end %>
  </div>
</nav>



<div class="bodyPad">
<h1>Tweets de <%=@user.name  %></h1>

<table>
  <thead>
    <tr>
      <th>Identifiant du Tweet</th>
      <th>Contenu du tweet</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweet.each do |tweet| %>
      <tr>
        <td><%= tweet.id %></td>
        <td><%= tweet.content %></td>
        <td><%= link_to 'Supprimer le tweet', user_tweet_path(id: tweet.id), method: :delete, data: { confirm: 'Êtes vous sur?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouveau tweet', new_user_tweet_path %>
</div>
