<p id="notice"><%= notice %></p>
<nav>
  <div class="nav-wrapper">
    <%=link_to root_path do %>
      <span class="brand-logo center">Twittodon</span>
    <%end %>
  </div>
</nav>
<div class="bodyPad">
<p>
  <strong>Identifiant du tweet:</strong>
  <%= @tweet.id %>
</p>

<p>
  <strong>Contenu du tweet:</strong>
  <%= @tweet.content %>
</p>

<%= link_to 'Editer', edit_user_tweet_path(@tweet) %> |
<%= link_to 'Retour', user_tweets_path %>
</div>