<p id="notice"><%= notice %></p>
<nav>
  <div class="nav-wrapper">
    <%=link_to root_path do %>
      <span class="brand-logo center">Twittodon</span>
    <%end %>
  </div>
</nav>

<div class="bodyPad">

<h2>Utilisateurs</h2>


<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Image de profil</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%=link_to  user do%><img width="300" src="<%= user.img_url %>"><%end %></td>
        <td><%= link_to 'Afficher l\'utilisateur', user %></td>
        <td><%= link_to 'Editer l\'utilisateur', edit_user_path(user) %></td>
        <td><%= link_to 'Supprimer l\'utilisateur', user, method: :delete, data: { confirm: 'Êtes vous sur?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'Créer un utilisateur', new_user_path %>

</div>