<p id="notice"><%= notice %></p>
<nav>
  <div class="nav-wrapper">
    <%=link_to root_path do %>
      <span class="brand-logo center">Twittodon</span>
    <%end %>
  </div>
</nav>
<div class="bodyPad">
<h1>Nouvel utilisateur</h1>

<%= render 'form' %>
<br>
<%= link_to 'Retour', users_path %>
</div>