<p id="notice"><%= notice %></p>
<nav>
  <div class="nav-wrapper">
    <%=link_to root_path do %>
      <span class="brand-logo center">Twittodon</span>
    <%end %>
  </div>
</nav>

<div class="bodyPad">


<p>
  <h1>
  <%= @user.name %>
  </h1>
</p>

<p>

  <img alt="<%= @user.img_url %>" width="350" src="<%= @user.img_url %>">
</p>
<br/>
<br/>

<p>
  <strong><%= link_to 'Voir les tweets', user_tweets_path(@user)%></strong>
</p>

<%= link_to 'Editer', edit_user_path(@user) %> |
<%= link_to 'Retour', users_path %>

</div>
