// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.bodyPad{

  width: 75%;
  margin: 0 auto;

}